
<div class="wrapper-centered">
  <h2><%= @question %> <span class="small">- you</span></h2>
  <h2> <%= @answer%> <span class="small">- coach</span></h2>
  <%= link_to "Ask again", ask_path %>
</div>

